<header class="border-app-500 flex border-b">
  <button
    class="bg-app-900 flex h-14 w-14 items-center justify-center text-white"
  >
    <lucide-angular [img]="Icons.Menu" class="my-icon"></lucide-angular>
  </button>

  <div class="flex items-center justify-center px-4">
    <h1 class="text-app-900 font-bold">Sebastian</h1>
  </div>

  <div class="flex-grow">
    <nav class="hidden h-full items-center justify-center gap-4 md:flex">
      <a
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-app-600 font-bold uppercase"
      >
        {{ 'HEADER.NAVLINKS.HOME' | translate }}
      </a>
      <a
        routerLink="/projects"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-app-600 font-bold uppercase"
      >
        {{ 'HEADER.NAVLINKS.PROJECTS' | translate }}
      </a>
    </nav>
  </div>

  <button class="bg-app-200 flex h-14 w-14 items-center justify-center">
    <lucide-angular [img]="Icons.Languages" class="my-icon"></lucide-angular>
  </button>

  <a
    routerLink="/contact"
    class="bg-app-900 flex h-14 items-center justify-center gap-1 px-5 text-white"
  >
    <span>{{ 'HEADER.NAVLINKS.CONTACTME' | translate }}</span>
    <lucide-angular [img]="Icons.ArrowUpRight" class="my-icon"></lucide-angular>
  </a>
</header>

<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/projects">Projects</a>
</nav>

<router-outlet></router-outlet>
