<div class="mx-auto max-w-7xl px-4 py-5 h-full-calc">
  <header class="mb-10 lg:mb-20">
    <h2 class="title inline-block truncate break-words font-black uppercase">
      {{ 'CONTACT.TITLE' | translate }}
    </h2>

    <a routerLink="/">
      <div class="flex items-center gap-1">
        <lucide-angular [img]="Icons.ArrowDownLeft" />
        <span class="font-semibold uppercase underline">
          {{ 'UTILS.BACK' | translate }}
        </span>
      </div>
    </a>
  </header>

  <main class="mx-auto max-w-3xl">
    <div class="flex flex-col gap-4">
      @for (social of SOCIALS; track $index) {
        <a [href]="social.url" target="_blank">
          <div class="w-full rounded-lg border flex pr-5 items-center border-app-500 hover:bg-app-200">
            <div class="flex h-14 w-14 items-center justify-center">
              <img [src]="social.icon" alt="">
            </div>
            <div class="flex-grow">
              <span class="uppercase">{{ social.name }}</span>
            </div>
            <div class="flex h-14 gap-2 items-center justify-center">
              <span class="text-nowrap uppercase font-bold text-sm">
                {{ 'UTILS.OPENINNEWTAB' | translate }}
              </span>
              <lucide-angular [img]="Icons.ExternalLink" size="16" />
            </div>
          </div>
        </a>
      }
    </div>
  </main>
</div>
